.container{
    margin-top: 5rem;

}

h5{
    padding-top: 20px;
   
}

.card{
    width: 25rem;
 margin-left: 23rem;
    font-size: 16px;
 
}

.card p{
    padding-left: 30px;
}

.card img{
    padding: 5px 10px;
}

.writer-stage ul li{
    width: 60rem;
    font-size: 16px;
    padding: 10px;
    background: #EAEAEA;
    margin-bottom: 20px;
}

a{
    position: relative;
    left: 53rem;
    bottom: 2rem;
}

.fade-text{
    color: #857f7f;
}
.card-body{
    height: 30rem;
}

hr{
    width: 88rem;
}

 .card-title{
    padding: 10px 23px;
    margin-top: 10px;
}

.hr-2{
    width: 100%;
    
}

